# Ignore the build and lib dirs
build
lib

# Ignore any executables
bin

### Generic
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
workspaces
